
:root {
    --colorColorMaincolor: #da271b;    
    --colorColorHovercolor: #072660;    
    --colorColorBackgroundcolor: #041524;    
    --colorColorDarkone: #f3f3f3;    
    --colorColorDarktwo: #ffffff;    
    --colorColorLightone: #cccccc;    
    --colorColorLighttwo: #e7e3e3;    
}